/*
Stylesheet for Enno Hyttrek Type Specimen
*/

@import url(https://use.typekit.net/bkc2wrm.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
    padding: 1rem;
}

section {
    padding-bottom: 2rem;
}

section.alphabet p {
    padding-bottom: 0;
    padding-top: 0;
}

section.alphabet p:nth-child(2) {
    text-transform: uppercase;
}

.size-1 {
    font-size: 21px;
}

.size-2 {
    font-size: 34px;
}

.size-3 {
    font-size: 42px;
}

.w-100 {
    font-weight: 100;
}

.w-200 {
    font-weight: 200;
}

.w-300 {
    font-weight: 300;
}

.w-400 {
    font-weight: 400;
}

.w-500 {
    font-weight: 500;
}

.w-600 {
    font-weight: 600;
}

.w-700 {
    font-weight: 700;
}


